.container {
    width: 1200px;
}

.gallery-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
    outline: 5px solid rgba(255, 0, 255, 0.7);
    outline-offset: -5px;
}

.gallery-item {
    display: flex;
    flex-grow: 1;
    background-color: black;
}

.gallery-item-big {
    display: flex;
    flex-grow: 1;
}

.gallery-item-img {
    width: 150px;
}